<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/inbox.css') }}">
    <title>Inbox</title>
</head>
<body>
    {% include 'header.html' %}

    <h2>Mis Notificaciones</h2>

    <ul id="notifications">
        {% for notification in notifications %}
        <li id="notification">
            <strong>{{ notification.title }}</strong><br>
            <span>{{ notification.date.strftime('%d/%m/%Y') }} {{ notification.time.strftime('%H:%M') }}</span><br>
            <p>{{ notification.description }}</p>
            <button class="deleteNotification" data-notification-id="{{ notification.id }}"><i class="fas fa-trash-alt"></i>Eliminar</button>
        </li>
        {% endfor %}
    </ul>

    <form id="deleteAllNotificationsForm" action="/inbox/delete_all_notifications" method="post">
        <button type="button" id="openConfirmationModal"><i class="fas fa-trash-alt"></i>Vaciar Bandeja de Entrada</button>
    </form>

    <div id="confirmationModal" class="modal">
        <div class="modal-content">
            <p>¿Estás seguro de que quieres vaciar la bandeja de entrada? Esto eliminará todas las notificaciones</p>
            <button id="confirmDeleteAllNotifications" class="modal-button">Vaciar</button>
            <button id="cancelDeleteAllNotifications" class="modal-button">Cancelar</button>
        </div>
    </div>


    <div id="deleteNotificationModal" class="modal">
        <div class="modal-content">
            <p>¿Estás seguro de que quieres eliminar esta notificación?</p>
            <button id="confirmDeleteNotification" class="modal-button">Eliminar</button>
            <button id="cancelDeleteNotification" class="modal-button">Cancelar</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/inbox.js') }}"></script>
    {% include 'footer.html' %}
</body>
</html>
