<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/legal.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Legal</title>
</head>
<body>
    <h2>Aviso Legal</h2>

    <button class="return-button" onclick="window.location.href='/agenda/0'" aria-label="Salir del Aviso Legal">Volver</button>

    <h3>Titular y contacto</h3>
    <p>Siguiendo el Artículo 10 de la Ley 34/2002, de 11 de julio, de servicios de la sociedad
        de la información y de comercio electrónico, el titular de este sitio web es
        Carlos Octavio Rodríguez del Toro, con N.I.F. 45344594W y correo electrónico
        carlos.rodriguez153@alu.ulpgc.es.</p>

    <h3>Motivación del sitio web</h3>
    <p>Este sitio web ha sido desarrollado como Trabajo de Fin de Título
        del Grado de Ingeniería Informática de la Universidad de Las Palmas de
        Gran Canaria de Carlos Octavio Rodríguez
        del Toro con José Fortes Gálvez como tutor para el curso académico 2024/2025.</p>

    <h3>Finalidad del sitio web</h3>
    <p>Este sitio web trata de ayudar a sus usuario registrados a marcar sus objetivos y cuadrarlos de la forma
    más óptima posible en su agenda. Para ello, los usuarios registran las actividades y rutinas que realizan día a día.</p>

    <h3>Responsabilidades</h3>
    <p>El responsable de este sitio, excluye, cualquier responsabilidad por los daños y perjuicios de toda naturaleza causados por la falta de disponibilidad o de continuidad del acceso al sitio web.</p>
    <p>El acceso a la información y servicios que presta este sitio web tiene, en principio, una duración indefinida. No obstante, se podrá dar por terminada o suspender el acceso a este sitio web en cualquier momento.</p>
    <p>Además, se excluye, cualquier responsabilidad por los daños y perjuicios de toda naturaleza que puedan deberse a la presencia de virus u otros códigos maliciosos en los contenidos que puedan producir cualquier tipo de daños en el sistema informático, documentos electrónicos o ficheros de los usuarios.</p>
    <p>No obstante, se declara que se han adoptado las medidas de seguridad dentro de las posibilidades para garantizar el correcto funcionamiento del sitio web y evitar ataques a la ciberseguridad.</p>

    <br><p>Este Aviso Legal se actualizó por última vez el 2 de enero de 2025.</p>

    {% include 'footer.html' %}
</body>
</html>