<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
    <title>Log In</title>
</head>
<body>
    <a href="/" class="back-button" aria-label="Ir al portal de usuario">
        <i class="fas fa-arrow-left"></i>
    </a>

    <button class="info-button" onclick="openModal()" aria-label="Abrir panel de información">i</button>
    <div id="infoModal" class="modal">
        <div class="modal-content">
            <h4>Ayuda</h4>
            <p>Si ya te has registrado, accede a tu cuenta introduciendo tu nombre de usuario o correo electrónico además de la contraseña.</p>
            <button id="closeModal" class="modal-button" type="button" aria-label="Cerrar panel de información">Cerrar</button>
        </div>
    </div>

    <div class="wrapper">
        <form id="formLogin" method="post" action="/login">
            <h2>Inicia Sesión</h2>
            <strong for="user">Nombre de usuario o correo electrónico:</strong>
            <input type="text" id="user" name="user" required><br><br>


            <strong for="password">Contraseña:</strong>
            <div class="password-container">
                <input type="password" id="password" name="password" required><br><br>
                <i id="eye1" class="fas fa-eye toggle-password" onclick="togglePassword('password', 'eye1')" aria-label="Ocultar o desvelar contraseña"></i>
            </div><br><br>



            <p id="message">{{ message }}</p><br><br>

            <button class="btn-login" type="submit" aria-label="Iniciar sesión">Inicia Sesión</button><br>
            <p>¿Aún no tienes una cuenta?</p>
            <button class="btn-gotoRegister" onclick="window.location.href='/register'" aria-label="Ir a registro">Regístrate</button>

        </form>
    </div>

    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
