<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/objective_form.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>Objective Form</title>
</head>
<body>
    {% include 'header.html' %}

    <button class="info-button" onclick="openModal()" aria-label="Abrir panel de información">i</button>
    <div id="infoModal" class="modal">
        <div class="modal-content">
            <h4>Ayuda</h4>
            <p>Establece tus objetivos. A cada objetivo, añádele tareas para que se apliquen de manera automática e inteligente a tu agenda. Puedes crear un número ilimitado de objetivos.</p>
            <h4>OBJETIVOS</h4>
            <p>Los objetivos son las metas que tienes en tu vida. Crea un número indefinido de objetivos y a cada uno, añádele tareas para que se planifiquen en tu agenda.</p>
            <p>Los objetivos se dividirán en 4 categorías:</p>
            <strong>Objetivos Actuales</strong><br><span>Objetivos que aún no has completado y están actualmante en curso.</span><br><br>
            <strong>Objetivos Completados</strong><br><span>Objetivos que han sido marcados como completados. No importa si están en curso o no. Las tareas de estos objetivos no se planificarán en la agenda.</span><br><br>
            <strong>Objetivos Pasados</strong><br><span>Objetivos que no han sido marcados como completados y su fecha de finalización ya ha pasado. No se mostrarán en la planificación</span><br><br>
            <strong>Objetivos Futuros</strong><br><span>Objetivos que no han sido marcados como completados y su fecha de inicio aún no ha llegado. Se empezarán a mostrar en la planificación una vez llegue su fecha de inicio.</span><br><br>
            <p>Los campos obligatorios a rellenar para CREAR UN OBJETIVO serán:</p>
            <strong>Nombre del objetivo</strong><br><span>Título o descripción del objetivo.</span><br><br>
            <strong>Color del objetivo</strong><br><span>Por defecto, será de color verde. Edita el color a cada objetivo para diferenciarlo en la pantalla de objetivos y en la agenda.</span><br><br>
            <strong>Prioridad</strong><br><span>Selecciona un valor de prioridad entre 0 y 100. Basado en los valores de prioridad de tus objetivos, el algoritmo asignará las tareas a tu agenda de la forma más óptima.</span><br><br>
            <strong>Horas semanales</strong><br><span>El número de horas semanales que se estima o se desea dedicar al objetivo ayudará a determinar la distribución de las tareas de objetivo en la agenda.</span><br><br>
            <strong>Fecha de inicio</strong><br><span>Establece la fecha en la que quieres empezar a realizar tareas para completar un objetivo.</span><br><br>
            <strong>Fecha de finalización</strong><br><span>Indica la fecha límite que tienes para completar el objetivo propuesto.</span><br><br>
            <p>El único campo que no es obligatrio es:</p>
            <strong>Imagen del objetivo</strong><br><span>Asigna a un objetivo una imagen para tu página de objetivos esté lo más personalizada posible.</span><br><br>
            <h4>TAREAS</h4>
            <span>Una vez creado el objetivo, podrás añadir tareas para completar el objetivo.</span>
            <span>Las tareas que componen un objetivo serán las que se muestren en la agenda.</span>
            <strong>En caso de que tu objetivo sea directamente la tarea a realizar, crea la tarea dentro del objetivo para que se pueda plasmar en la agenda.</strong>
            <p>Los campos obligatorios a rellenar para CREAR UNA TAREA serán:</p>
            <strong>Nombre de la tarea</strong><br><span>Título o descripción de la tarea.</span><br><br>
            <strong>Prioridad</strong><br><span>Selecciona un valor de prioridad entre 0 y 100. Basado en los valores de prioridad de las demás tareas de tu objetivo, el algoritmo asignará las tareas a tu agenda de la forma más óptima.</span><br><br>
            <strong>Horas mínimas diarias</strong><br><span>Selecciona el número mínimo de horas que le podrás dedicar a una tarea en un día.</span><br><br>
            <strong>Horas máximas diarias</strong><br><span>Selecciona el número máximo de horas que le podrás dedicar a una tarea en un día.</span><br><br>
            <strong>Día de la semana y Horario</strong><br><span>Selecciona los días de la semana y el rango de horas del día en los que podrás realizar la tarea.</span><br><br>
            <p>El único campo que no es obligatrio es:</p>
            <strong>Ubicación</strong><br><span>Lugar en el que se desarrolla la tarea.</span><br>
            <h4>EDITAR Y ELIMINAR</h4>
            <span>Se podrán editar los parámetros y eliminar de forma permanente los objetivos y tareas creados.</span><br><br>
            <span>Para marcar o desmarcar un objetivo como <strong>completado</strong>, esto se deberá hacer en el cuadro de edición del objetivo.</span><br><br>
            <button id="closeModal" class="modal-button" type="button" aria-label="Cerrar panel de información">Cerrar</button>
        </div>
    </div>

    <h2>Nuevo Objetivo</h2>
    <form id="formObjective" method="post" enctype="multipart/form-data" action="/objective_form">
        <strong for="name">Nombre del objetivo:</strong>
        <input type="text" id="name" name="name" required><br><br>

        <label for="objective_image">Imagen del objetivo:</label>
        <img id="objective_image" style="display: none;"><br>
        <input type="file" name="imageInput" id="imageInput" accept="image/*"><br><br><br>

        <strong for="color">Color del objetivo:</strong>
        <input type="color" id="color" name="color" value="#2eb19f"><br><br>



        <strong for="priority">Prioridad:</strong>
        <input type="range" id="priority" name="priority" min="0" max="100" value="50" oninput="updatePriorityValue(this.value)">
        <span id="priorityValue">50</span><br><br>

        <strong for="hours">Horas semanales:</strong>
        <input type="number" id="hours" name="hours" min="1" value="1" required><br><br>

        <strong for="start_date">Fecha de inicio:</strong>
        <input type="date" id="start_date" name="start_date" required><br><br>

        <strong for="end_date">Fecha de finalización:</strong>
        <input type="date" id="end_date" name="end_date" required><br><br>

        <button id="createObjective" type="submit" aria-label="Crear nuevo objetivo">Crear Objetivo</button>
    </form>


    <script src="{{ url_for('static', filename='js/objective_form.js') }}"></script>

    {% include 'footer.html' %}
</body>

</html>
