* {
  font-family: 'Montserrat', sans-serif;
  --green: #2eb19f;
  --blue: #b7edff;
  --orange: #ff9642;
  --grey: #f5f5f5;
  --dark_grey: #262626;
  --white: #fff;
  --black: #000;
}

body {
    margin: 0;
}

header {
    background-color: var(--green);
    padding: 30px;
    border-bottom-left-radius: 50% 20px;
    border-bottom-right-radius: 50% 20px;
    background-image: linear-gradient(to right, var(--green) 30%, var(--dark_grey));
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav li {
    display: inline-block;
    margin-right: 35px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 45px;
    color: var(--white);
}

.icon-button:hover {
    color: var(--blue);
}

.icon-button.active {
    color: var(--orange);
    transform: scale(0.95);
}